{% extends 'core/base.html'%}
{% block content %}
<main class="h-full pb-16 overflow-y-auto">
  <div class="container px-6 mx-auto grid">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
      Create Subscriber
    </h2>
    <!-- General elements -->
    <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
      Add New Subscriber
    </h4>
    <form method="post" action="{% url 'subscribtion-app:create-subscribers' %}">{% csrf_token %}
    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
      <label for="id_name" class="block text-sm">
        <span class="text-gray-700 dark:text-gray-400">Name</span>
        <input required id="id_name" name="name"
          class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
          placeholder="">
      </label>

      <div class="mt-4 text-sm">
        <label for="id_phone_number" class="block text-sm">
          <span class="text-gray-700 dark:text-gray-400">Phone number</span>
          <input id="id_phone_number"name="phone_number" type="number"
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            placeholder="7777777">
        </label>
      </div>
      <div class="mt-4 text-sm justify-between">
        <input
          type="submit" value="create" class="px-5 py-3 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
      </input>
      </div>
    </div>
    </form>
</main>
{% endblock %}